#map {
    height: 100vh;
    position: relative;
}

#searchInput{
    position: absolute;
    left: 50px;
    top: 10px;
    z-index: 300000;
}

#resultDisplay{
    max-height: 300px;
    overflow-y:scroll;
}